name: pypi

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Publish a Python distribution to PyPI
      if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
      uses: pypa/gh-action-pypi-publish@master
      with:
        user: docfast
        password: ${{ secrets.pypi_password }}
